<div class="reset-form-container">
  <h5 class="reset-header-text">Please input your email to reset the password</h5>
  <br>
  <form class="reset-form form-horizontal" (ngSubmit)="onSubmit(reset)" name="resetForm">
    <div class="form-group">
      <label for="email" class="col-lg-3 control-label">email</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" [(ngModel)]="reset.email" id="email" name="email" placeholder="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <div [hidden]="true" class="alert alert-danger">
          Email is required
        </div>
        <br>
        <label (click)="login()"><a>Already have an account?</a></label><br>
        <label (click)="register()"><a>Does not have account?</a></label>
      </div>
    </div>

    <div class="reset-button-container" align="right">
      <button type="submit" class="btn btn-success">reset</button>
    </div>
  </form>
</div>