.reset-form-container {
    width:100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.reset-form {
    max-width: 400px;
    text-align: left;
    margin: 0 auto!important;
}
.reset-header-text {
    text-align: center;
}